*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
    color: black;
}
#container{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.inner-container{
    text-align: center;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    margin: 10px 10px;
    font-size: 40px;
    background-color: #fff; /* Changed to white */
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.botton{
    text-align: center;
    font-size: 25px;
    width: calc(25% - 10px);
    height: 40px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}
.botton:hover{
    background-color: #444;
}
#equals{
    background-color: #4CAF50;
    color: #fff;
}
#equals:hover{
    background-color: #3e8e41;
}